@font-face {
    font-family: 'KyivTypeSerif-VarGX';
    src: url('D:/курсач/fonts/KyivTypeSerif-VarGX.ttf') format('truetype');
}

/*шрифт маденький*/
@font-face {
    font-family: 'CustomFont';
    src: url('file:///D:/курсач/fonts/20652.otf') format('opentype'); /* Используйте file:// для абсолютного пути */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'KyivTypeSerif-VarGX', sans-serif;
    background-color: #260541;

    h2 {
        color: white;
        font-family: 'KyivTypeSerif-VarGX';
        text-align: center;
    }
}

/*сам колонтитул*/
header {
    text-align: center;
    width: 100vw;
    height: 600px;
    position: relative;

    &::after {
        content: ''; /* Обязательное свойство для псевдоэлемента */
        position: absolute;
        bottom: -20px; /* Значение должно быть равно или больше высоты отступа */
        left: 0;
        width: 100%;
        height: 20px; /* Высота отступа */
        background-color: rgba(255, 255, 255, 0.5); /* Прозрачный черный цвет */
        z-index: -1; /* Устанавливаем z-index, чтобы псевдоэлемент был под колонтитулом */
    }
}

/*кнопка правил*/
.club-rules-btn {
    position: fixed; /* Фиксированное позиционирование */
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'CustomFont', sans-serif;
    font-size: 26px;
    text-decoration: none; /* Удаление подчеркивания ссылки */
    opacity: 0.7; /* Прозрачность кнопки */
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный черный фон кнопки */
    transition: opacity 0.3s ease; /* Плавное изменение прозрачности при наведении */

    &:hover {
        opacity: 0.9; /* Увеличение прозрачности при наведении */
    }
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-text1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    color: #260541;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
    font-family: 'KyivTypeSerif-VarGX', sans-serif;
}

.header-text2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: white;
    opacity: 0.8; /* Прозрачность текста */
    font-family: 'CustomFont', sans-serif;
    letter-spacing: 1px; /* Добавление небольшого отступа между буквами */
    line-height: 1.5; /* Увеличение межстрочного расстояния */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;

    .price-list, .contact-info {
        margin-top: 20px; /* Добавляем отступ между блоками */
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    /* Стили для списка цен */
    .price-list {
        font-family: 'CustomFont';
        width: 50%;
        float: left;
        text-align: center;
        font-size: 36px;

        h2 {
            text-align: center;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                margin-bottom: 10px;
            }
        }
    }

    /* Стили для контактной информации */
    .contact-info {
        width: 50%;
        float: left;
        font-family: 'CustomFont';
        text-align: center;
        font-size: 36px;

        h2 {
            text-align: center;
        }

        p {
            margin: 5px 0;
        }
    }

    /* Стили для формы оплаты */
    .payment-form {
        clear: both; /* Очистка float */
        margin-top: 50px; /* Отступ сверху */
        text-align: center;

        h2 {
            text-align: center;
        }
    }
}

/* Медиа-запрос для мобильной версии */
@media (max-width: 768px) {
    .container img {
        width: 100%;
        float: none;
    }

    .price-list,
    .contact-info,
    .payment-form {
        width: 100%;
        float: none;
    }

    header {
        height: auto;
        width: 100vw; /* Используйте 100vw вместо 100% */
        position: relative;

        img {
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }

        &::after {
            bottom: 0;
            height: 20px;
            width: 100vw;
            z-index: -1;
        }
    }

    .header-text1 {
        top: 20%;
        font-size: 60px;
    }

    .header-text2 {
        top: 45%;
        font-size: 24px;
    }

    .club-rules-btn,
    .open-button {
        padding: 10px 20px;
        font-size: 18px;
    }
}
